name: CI test to build and run the unit tests for TEMPO microphysics on ubuntu v22.04.

on: [pull_request,workflow_dispatch,push]

jobs:
  unit_tests:

    # The type of runner that the job will run on
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        fortran-compiler: [gfortran-12]

    # Environmental variables
    env:
      driver_ROOT: /home/runner/work/TEMPO/TEMPO

    # Workflow steps
    steps:

    - name: Checkout code (into ${driver_ROOT})
      uses: actions/checkout@v3

    - name: Build unit tests
      run: |
        cd ${driver_ROOT}/tests
        make driver
        pwd
        ls
    - name: Get runtime tables
      run: |
        cd ${driver_ROOT}/tests
        wget https://gsl.noaa.gov/thredds/fileServer/retro/jensen/MP_TEMPO_HAILAWARE_QRacrQG_DATA.DBL
        wget https://gsl.noaa.gov/thredds/fileServer/retro/jensen/MP_TEMPO_QIautQS_DATA.DBL
        wget https://gsl.noaa.gov/thredds/fileServer/retro/jensen/MP_TEMPO_QRacrQS_DATA.DBL
        wget https://gsl.noaa.gov/thredds/fileServer/retro/jensen/MP_TEMPO_freezeH2O_DATA.DBL
        pwd
        ls
    - name: Run unit tests
      run: |
        cd ${driver_ROOT}/tests
        pwd
        ls
        ./driver
    - name: plot output
      run: |
        cd ${driver_ROOT}/tests
	python --version
        python plot_profile.py
	