name: CI test to build and run the unit tests for TEMPO microphysics on ubuntu v22.04.

on: [pull_request,workflow_dispatch,push]

jobs:
  unit_tests:

    # The type of runner that the job will run on
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        fortran-compiler: [gfortran-12]

    # Environmental variables
    env:
      driver_ROOT: /home/runner/work/TEMPO/TEMPO
      testdrive_ROOT: /home/runner/work/_temp
  
    # Workflow steps
    steps:
    
    - name: Checkout test-drive
      run: |
        cd ${driver_ROOT}
        mkdir -p ${testdrive_ROOT}
        cd ${testdrive_ROOT}
        git clone https://github.com/fortran-lang/test-drive.git
        cd ${testdrive_ROOT}/test-drive
        mkdir -p ${testdrive_ROOT}/test-drive/build
        cd ${testdrive_ROOT}/test-drive/build
        cmake ../
        make

    - name: Checkout code (into ${driver_ROOT})
      uses: actions/checkout@v3

    - name: Build unit tests
      run: |
        cd ${driver_ROOT}
        make unit_tests -f Makefile.gfortran testdrive_dir=${testdrive_ROOT}/test-drive/build
        make install_unit_tests -f Makefile.gfortran

    - name: Run unit tests
      run: |
        cd ${driver_ROOT}/rundir_unit_tests
        ./run_unit_tests

    - name: Build tests
      run: |
        cd ${driver_ROOT}
        make clean -f Makefile.gfortran
        make tempo_tests -f Makefile.gfortran
        make install -f Makefile.gfortran

    - name: Get runtime tables
      run: |
        cd ${driver_ROOT}/rundir_tests
        wget -q https://gsl.noaa.gov/thredds/fileServer/retro/jensen/qr_acr_qg_data_tempo_v3
        wget -q https://gsl.noaa.gov/thredds/fileServer/retro/jensen/qr_acr_qs_data_tempo_v3
        wget -q https://gsl.noaa.gov/thredds/fileServer/retro/jensen/freeze_water_data_tempo_v3
        cp ${driver_ROOT}/tables/ccn_activate.bin .

    - name: Run tests
      run: |
        cd ${driver_ROOT}/rundir_tests
        ./run_tempo_tests

    - name: plot output
      run: |
        cd ${driver_ROOT}/rundir_tests
        cp ${driver_ROOT}/test/plot/plot_test_graupel_sedimentation.py .
        python --version
        pip install matplotlib
        python plot_test_graupel_sedimentation.py

    - name: Upload plot as GitHub Artifact.
      uses: actions/upload-artifact@v4
      with:
        name: test-graupel-sedimentation-mpas_59lev
        path: /home/runner/work/TEMPO/TEMPO/rundir_tests/plot_test_graupel_sedimentation_mpas_59lev.pdf